@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Stardos+Stencil&display=swap');

*{
    box-sizing:border-box;
    margin:0;
}
html{
    padding:0 0 10px 0;
    margin:0;
}
:root{
    --gradient: linear-gradient(
        45deg,
        #BCC6CC,
        #C0C0C0,
        #f5ded7,
        #c8f2c9,
        #aaa8af
    );
}
body{
    background-color: #D5D6F1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='99' height='99' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23b1b2cc' fill-opacity='0.3'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.3'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'ABeeZee', sans-serif;
}
header{
    background-color:rgb(180, 180, 178);
    background-image:var(--gradient);
    background-size:400%;
    background-position:left;
    margin-bottom:2rem;
    mix-blend-mode: difference;
    animation: bg-animation 10s 2 alternate;
    height:auto;
    height:100%;
    padding:25px;
}
@keyframes bg-animation {
    0%{
        background-position:left;
    }
    100%{
        background-position:right;
    }
} 
h1{
    text-align:center;
    font-family: 'Stardos Stencil', cursive;
}
h2{
    text-align:center;
    font-family: 'Stardos Stencil', cursive;
}
.intro {
    animation:startup 2.5s ease-in;
}
@keyframes startup{
    0%{
        opacity:0;
    }
    50%{
        opacity:.25;
    }
    100%{
        opacity:1;
    }
}
.audio-change,
.vid-box{
    animation:onload 4.5s ease-in;
}
@keyframes onload{
    0%{
        opacity:0;
    }
    50%{
        opacity:.25;
    }
    100%{
        opacity:1;
    }
}
.butn{
    background-image:var(--gradient);
    background-size:350%;
    background-position:right;
    border:solid 3px #9f9e9e;
    border-radius:9px;
    cursor:pointer;
    margin:1rem 0 1rem 5px;
    font-weight:bolder;
    padding:10px;
    color:var(--purple-color);
    transition:background-position 1s;
}
.butn:hover,
.butn:focus{
    transform:scale(1.1);
    background-position:left;
}
.intro{
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:9px;
    max-width:850px;
    margin:1rem;
    padding:30px;
}
.audio-change{
    display:flex;
    justify-content:space-evenly;
}
video{
    display:flex;
    justify-content:center;
    max-width:850px;
    margin:auto;
    width:80%;
}
.vid-box{
    width:100%;
}
.video-container{
    justify-content:space-around;
    position:relative;
}

.time-bar {
    position:relative;
    display: flex;
    flex: 10;
    flex-basis: 100%;
    height: 4px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    width:80%;
    max-width:850px;
    margin:auto;
}
/* .time-fill {
    width:50%;
    background: rgba(241, 199, 91, 0.5); 
    flex: 0;
    flex-basis: 50%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
} */

/*Progress Fallback*/
progress[value] {
    appearance: none; /* Needed for Safari */
    border: none; /* Needed for Firefox */
    color: #e52e71; /* Fallback to a solid color */
    width:100%;
    max-width:850px;
    margin:auto;
}

/* WebKit styles */
progress[value]::-webkit-progress-value {
    background-image: linear-gradient(
        to right,
        #ff8a00, #e52e71
    );
    transition: width 1s linear;
    width:100%;
    max-width:850px;
    margin:auto;
}

/* Firefox styles */
Progress Fill
progress[value]::-moz-progress-bar {
    background-image: -moz-linear-gradient(
        right,
        #ff8a00, #e52e71
    );
    width:100%;
    max-width:850px;
    margin:auto;
}
.controler{
    bottom:0;
    width:80%;
    max-width:850px;
    margin:auto;
    display:flex;
    background:#f2ebebf3;
    padding-top:15px;
}
.controler button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#play_button svg{
    display:flex;
    justify-content:space-around;
}
.player-slider{
    width:10px;
    height:30px;
}
.sliders{
    max-width: 200px;
    display:flex;
}

/* input below by Andy Leverenz */

input[type=range]{
    -webkit-appearance: none;
    appearance:none;
    background:transparent;
    width:100%;
    margin: 0 5px;
}
input[type=range]:focus{
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}
  
input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.8);
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 10px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
  }
  .chill-coffee{
    background-color:rgba(255, 255, 255, 0.801);
    padding:5px;
    max-width:max-content;
    text-align:center;
    position:absolute;
    left: 95px;
    bottom:100px;
    opacity:0;
}
.chill-coffee a{
    color:#1b0756;
  
}
#opacity-change{
    animation:fadeInOUt 15s ease-in-out;
}
  @keyframes fadeInOUt{
    0%{
        display:none;
        opacity:0;
    }
    10%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
/* end of input by Andy Leverenz */


@media screen and (min-width: 600px){
 /* .myVid{
    max-height: 375px;
 }    */
 header{
    padding:3rem;
 }
 .audio-change{
    display:flex;
    justify-content:center;
}
.butn{
    margin: 2rem;
}
 .intro{
    margin:auto;
 }
 .chill-coffee{
    background-color:rgba(255, 255, 255, 0.801);
    padding:5px;
    max-width:max-content;
    text-align:center;
    position:absolute;
    left: 140px;
    bottom:100px;
    opacity:0;
}
.controler{
    justify-content:space-around;
}
}
@media screen and (min-width: 1125px){
    .chill-coffee{
        left: 235px;
    }
}
@media screen and (min-width: 1145px){
    .chill-coffee{
        left: 590px;
    }
}
@media screen and (min-width: 2300px){
    .chill-coffee{
        left: 745px;
    }
}